ul {
  padding: 0;
  list-style: none;
}

.footer-title {
  color: rgb(86, 146, 146);
}

.book-cover {
  height: 35rem;
}

.card-border {
  outline: 3px solid green;
}

/* .card-img {
  height: "400px";
  object-fit: "cover";
} */
